<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Spring Security Example</title>
</head>
<body>
<h1>Spring Security example application</h1>
<div class="float" sec:authorize="!isAuthenticated()">
  <p>Welcome! To login press button</p><br/>
  <form  th:action="@{/login}">
    <input type="submit" value="Login">
  </form>
</div>
<div class="float" sec:authorize="isAuthenticated()">
  <p>To logout press button</p><br/>
  <form  th:action="@{/logout}">
    <input type="submit" value="Logout">
  </form>
</div>
</body>
</html>